.container {
  margin: 0 auto;
  padding: 8px 16px;
  /*width: 100%;*/


  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  overflow: hidden;
  max-width: 640px;


  @media (320px <= width < 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (768px <= width) {
    padding: 24px 40px;
  }

  @media (768px <= width <= 1280px) {
    max-width: 960px;
  }

    @media (1280px <= width) {
      max-width: 1440px;
    }
}